<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calckit2"
        tools:targetApi="31">
        <activity
            android:name=".ScientificCalculator"
            android:exported="false" />
        <activity
            android:name=".PpfCalculator"
            android:exported="false" />
        <activity
            android:name=".FdCalculator"
            android:exported="false" />
        <activity
            android:name=".GstCalculator"
            android:exported="false" />
        <activity
            android:name=".EmiCalculator"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DiscountCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".BMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".AreaCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".SetOperationsActivity"
            android:exported="false" />
        <activity
            android:name=".FunctionalityListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>